<%- include("includes/head.ejs") %>
<body>
    <!-- <h1>Welcome to page of @<%= //username %></h1>
    <button>Message</button>
    <button>Follow</button>
    <h3>Accouts that follow you</h3>
    <ul>
        <% //for(name of followers){ %>
            <li><%//= name %></li>
        <% //} %>
    </ul> -->

    <h1>Welcome to page of @<%= data.name %></h1>
    <button>Message</button>
    <button>Follow</button>
    <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Followers: <b><%= data.followers %></b>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Following: <b><%= data.following %></b>
    </p>
    <hr>
    <% for(post of data.posts){ %>
        <img src="<%= post.image %>" alt="some img">
        <p>
            Likes: <%= post.likes %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Comments: <%= post.comments %>
        </p>
    <% } %>
    <%- include("includes/footer.ejs") %>
    <script src="/app.js"></script>
</body>
</html>